<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.geniusver.achievementmanagement">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_geniusv"
            android:label="@string/app_name"
            android:largeHeap="true"
            android:roundIcon="@mipmap/ic_geniusv_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <meta-data
                    android:name="android.app.default_searchable"
                    android:value=".DetailActivity"/>
        </activity>
        <activity
                android:name=".DetailActivity"
                android:parentActivityName=".MainActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".MainActivity"/>
            <meta-data
                    android:name="android.app.searchable"
                    android:resource="@xml/searchable"/>

            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>
        </activity>
        <activity android:name=".CollageEditActivity">
        </activity>
        <activity android:name=".MajorEditActivity">
        </activity>
        <activity android:name=".CourseEditActivity">
        </activity>
        <activity android:name=".ClaxxEditActivity">
        </activity>
        <activity android:name=".StudentEditActivity">
        </activity>
        <activity android:name=".TermEditActivity">
        </activity>
        <activity android:name=".ScoreEditActivity">
        </activity>
    </application>

</manifest>